.ad-ad2 h1:hover span {
    color: #484848;  
    transform: translateX(40px) scale(1.5);
}
.ad-ad2 h1 span {
    transition-property: transform;
}
.ad-ad3 :after {
    content: '';
    width: 90px;
    height: 92px;
    background-image: url(../images/bike_sprite.png);
    display: block;
    margin: auto;
}

@keyframes bike {
    0% {
    background-position: 0 0;
    }
    100% {
        background-position: -360px 0;
    }
}