h1, h2 {
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 38px;
    color:red;
    letter-spacing: 10px;
    text-transform: capitalize;
  }
body { 
  font-family: Garamond, serif;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  line-height: 2;
  letter-spacing: 3px;
  background-color: rgb(214, 204, 204);
}

img {
    width: 20vw;
}
ul {
    list-style-type: none;
}
button {
    color: #9b1717;
    padding: 10px 50px;
    border: 10px #e91616;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button:hover {
    background-color: #fd0a0a;
    color:white;
}
#name, #idPoke {
    font-weight: bold;
}